nav{
    text-align: center;
    font-size: 20px;
}

ul{
    display: flex;
    justify-content: space-around;
}

a{
    color:black;
    text-decoration: none;
}

nav li {
    display: inline;
}

.container {
    position: relative;
    width: 500px;
    height: 800px;
}

.leftsection {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100%; 
    padding-right: 0%;
    background-color: lightblue; 
}

.verticalline {
    position: absolute;
    top: 0;
    left: 50%; 
    width: 2px; 
    height: 100%; 
    background-color: black; 
}




 .imagesection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: -53%;

}

.imagesection > div {
    margin: 0 20px; 
    text-align: center;
    word-wrap: break-word;
    max-width: 300px;
}

.imagesection img {
    display: block;
    margin: 0 auto;
    
}

.imagesection2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: -27%;
   
}

.imagesection2 > div {
    margin: 0 20px; 
    text-align: center;
    word-wrap: break-word;
    max-width: 300px;
}

.imagesection2 img {
    display: block;
    margin: 0 auto;
}

.experience{
    position: absolute;
    top:150px;
    left: 40px;
    color: rgb(12, 12, 87);
}

.associative{
    position: absolute;
    top:500px;
    left: 40px;
    color: rgb(12, 12, 87);
}
